<label >Search Title</label>
<input type="text" (keyup)="onSearch()" (change)="onChange()" [(ngModel)]="searchTitle"><br>
<select [(ngModel)]="selectedFilterValue">
      <option value="">All</option>
      <option *ngFor="let option of filterOptions" [value]="option.value">{{ option.label }}</option>
    </select>
<ul *ngFor="let task of tasks | filterTasks: 'status':selectedFilterValue">
  <app-task-detail [details]="task" (newDetails)="editTask($event)"></app-task-detail>
</ul>
<p *ngIf="!tasks.length">No Tasks Available</p>
<form [formGroup]="taskForm">
    <label>Title: </label>
    <input type="text" formControlName="title"><br>
    <label>Description: </label>
    <input type="text" formControlName="description"><br>
    <button (click)="onSubmit()">Submit</button>
</form>
<p *ngIf="taskForm.get('title')?.invalid && taskForm.get('title')?.touched">Title is Required</p>
<p *ngIf="taskForm.get('description')?.invalid && taskForm.get('description')?.touched">Description is Required</p>