<li *ngIf="details" appChangeColor>
    <p>{{ details.title }}</p>
    <p>{{ details.description }}</p>
    <p>{{ details.dueDate }}</p>
    <p>{{ details.status }}</p>
    <p>{{ details.priority }}</p>

    <div *ngIf="buttonClicked">
        <label>Title: </label>
        <input type="text" [(ngModel)]="newTitle"><br>
        <label>Description: </label>
        <input type="text" [(ngModel)]="newDescription">
        <button (click)="save()">Save</button>
    </div>
    <button (click)="edit()">Edit Task</button>
  </li>

